<div class="sectionContainer mt-3">
    <section class="h-100 w-100">
        <div class="rows">
            <div class="col d-flex flex-column align-items-center justify-content-center">
                <div class="text-start">
                    <h4 class="fs-2 fw-bold m-0">20% discout</h4>
                    <h6 class="fs-1 font-monospace m-0">NEW Bicycle</h6>
					<button type="button" class="btn">start shopping</button>
                </div>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <img src="../../../assets/Image/bike.png" alt="bike" width="80%" class="img-fluid ml-auto">
            </div>
        </div>
    </section>
</div>