<div class="header-element py-0 mb-3">
	<div class="d-flex flex-wrap justify-content-between align-items-center header-container mx-5 py-2">
		<p class="m-0">{{ page }} - {{ totalPage }} pagine in <span class="fw-bolder">#{{ search }}</span></p>
		<div class="btn-group d-md-none d-sm-none d-none d-lg-block">
			<button type="button" class="dropdown-toggle btn rounded-lg shadow p-0 px-2" data-bs-toggle="dropdown"
				aria-expanded="false">
				Ordina per: {{ valueFilter }} <i class="fa-solid fa-chevron-down"></i>
			</button>
			<ul class="dropdown-menu py-0">
				<li><a #v1 class="dropdown-item border-bottom" [style.display]="v1.text == valueFilter ? 'none' : 'block'"
						(click)="valueFilter=v1.text" id="v1">In Evidenza</a></li>
				<li><a #v2 class="dropdown-item border-bottom" [style.display]="v2.text == valueFilter ? 'none' : 'block'"
						(click)="valueFilter=v2.text" id="v2">Prezzo: In ordine crescente</a></li>
				<li><a #v3 class="dropdown-item border-bottom" [style.display]="v3.text == valueFilter ? 'none' : 'block'"
						(click)="valueFilter=v3.text" id="v3">Prezzo: In ordine decrescente</a></li>
				<li><a #v4 class="dropdown-item" [style.display]="v4.text == valueFilter ? 'none' : 'block'"
						(click)="valueFilter=v4.text" id="v4">Ultimi arrivi</a></li>
			</ul>
		</div>
		<div class="d-md-block d-lg-none">
			<button class="btn rounded-lg shadow p-0 px-2" (click)="open(content)">
				Filtri <i class="fa-solid"
					[ngClass]="{'fa-chevron-down': !isOffcanvasOpen, 'fa-chevron-up': isOffcanvasOpen}"></i>
			</button>
		</div>
	</div>
</div>
<div class="d-flex mb-4">
	<div class="d-md-none d-sm-none d-none d-lg-block flex-column filter-bar p-2 border shadow-lg">
		<div class="container fw-bolder">
			Filter:
		</div>

		<div>
			<p class="py-1 m-0">Categorie: </p>
			<ng-container *ngFor="let item of categoryList">
				<div class="d-flex flex-row w-100">
					<div class="p-1 w-10">
						<input class="form-check-input mt-0" type="checkbox">
					</div>
					<div class=" w-100 border-bottom">{{ item.ita }}</div>
				</div>
			</ng-container>
		</div>

		<div>
			<p class="py-1 m-0">Componenti: </p>
			<ng-container *ngFor="let item of componentsList">
				<div class="d-flex flex-row w-100">
					<div class="p-1 w-10">
						<input class="form-check-input mt-0" type="checkbox">
					</div>
					<div class="w-100 border-bottom">{{ item.ita }}</div>
				</div>
			</ng-container>
		</div>

		<div>
			<p class="py-1 m-0">Vestiario: </p>
			<ng-container *ngFor="let item of clothingsList">
				<div class="d-flex flex-row w-100">
					<div class="p-1 w-10">
						<input class="form-check-input mt-0" type="checkbox">
					</div>
					<div class="w-100 border-bottom">{{ item.ita }}</div>
				</div>
			</ng-container>
		</div>

		<div>
			<p class="py-1 m-0">Accessori: </p>
			<ng-container *ngFor="let item of accessoriesList">
				<div class="d-flex flex-row w-100">
					<div class="p-1 w-10">
						<input class="form-check-input mt-0" type="checkbox">
					</div>
					<div class=" w-100 border-bottom">{{ item.ita }}</div>
				</div>
			</ng-container>
		</div>

	</div>
	<main class="border border-info">

	</main>
</div>

<ng-template #content>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title">Filtra per: </h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
	</div>
	<div class="offcanvas-body">
		<div class="container d-flex flex-row gap-3">
			<button #v1 type="button" class="btn rounded-lg shadow p-0 px-2" [ngClass]="{ 'pressedBtn': btnID === 'v1' }" (click)="mobileFilterData(v1, 'v1')">In Evidenza</button>
			<button #v2 type="button" class="btn rounded-lg shadow p-0 px-2" [ngClass]="{ 'pressedBtn': btnID === 'v2' }" (click)="mobileFilterData(v2, 'v2')">Prezzo: In ordine crescente</button>
			<button #v3 type="button" class="btn rounded-lg shadow p-0 px-2" [ngClass]="{ 'pressedBtn': btnID === 'v3' }" (click)="mobileFilterData(v3, 'v3')">Prezzo: In ordine decrescente</button>
			<button #v4 type="button" class="btn rounded-lg shadow p-0 px-2" [ngClass]="{ 'pressedBtn': btnID === 'v4' }" (click)="mobileFilterData(v4, 'v4')">Ultimi arrivi</button>
		</div>
		<div>
			<p class="py-1 m-0">Categorie: </p>
			<ng-container *ngFor="let item of categoryList">
				<div class="d-flex flex-row w-100">
					<div class="p-1 w-10">
						<input class="form-check-input mt-0" type="checkbox">
					</div>
					<div class="w-100 border-bottom">{{ item.ita }}</div>
				</div>
			</ng-container>
		</div>

		<div>
			<p class="py-1 m-0">Componenti: </p>
			<ng-container *ngFor="let item of componentsList">
				<div class="d-flex flex-row w-100">
					<div class="p-1 w-10 border-bottom">
						<input class="form-check-input mt-0" type="checkbox">
					</div>
					<div class="w-100 border-bottom">{{ item.ita }}</div>
				</div>
			</ng-container>
		</div>

		<div>
			<p class="py-1 m-0">Vestiario: </p>
			<ng-container *ngFor="let item of clothingsList">
				<div class="d-flex flex-row w-100">
					<div class="p-1 w-10">
						<input class="form-check-input mt-0" type="checkbox">
					</div>
					<div class="w-100 border-bottom">{{ item.ita }}</div>
				</div>
			</ng-container>
		</div>

		<div>
			<p class="py-1 m-0">Accessori: </p>
			<ng-container *ngFor="let item of accessoriesList">
				<div class="d-flex flex-row w-100">
					<div class="p-1 w-10">
						<input class="form-check-input mt-0" type="checkbox">
					</div>
					<div class="w-100 border-bottom">{{ item.ita }}</div>
				</div>
			</ng-container>
		</div>
	</div>
</ng-template>