div.header-element {
    background-color: var(--core-background) !important;
    >div.header-container {
        background-color: var(--core-background) !important;
        
        p > span {
            color: var(--primary);
        }

        button {
            background-color: var(--primary);
            border: 1.5px solid var(--darker-primary);
            font-size: 12px !important;
            height: 20px;

            &:after {
                content: none;
            }

            @media (max-width: 2560px) and (min-width: 1070px) {
                font-size: 15px !important;
                height: 25px;
            }
        }

        .dropdown-menu {
            background-color: var(--core-background) !important;
        }
    }
}

#v1:hover, #v2:hover, #v3:hover, #v4:hover {
    background-color: var(--core-darker-background);
}

div.filter-bar{
    width: 15%;
    margin-left: 10%;
}

main{
    width: 75%;
}

div.offcanvas-body {
    .container > button {
        background-color: var(--primary);
        border: 1.5px solid var(--darker-primary);
        font-size: 12px !important;
    }
}

.pressedBtn {
    background-color: var(--accent) !important;
    border: 1.5px solid var(--darker-accent) !important;
}