<div class="row g-3 card-container">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img class="card-img-top" alt="..." src="https://rubik.chegiochi.it/GIO/420/683/0887961376838.jpg">
            <div class="card-body">
                <span class="fw-semibold">Model: Cycling Cap</span>
                <div class="d-inline">
                    <span class="ms-4 text-success stock-check d-none">Avaiable</span>
                    <span class="ms-4 text-danger stock-check ">Out of Stock</span>
                </div>
                <h5 class="pt-2"> Barbie Most Wanted Ultra</h5>
                <p class="card-text">All-occasion value bike with our basic comfort and safety features. Offers wider, more stable tires for a ride around town or weekend trip.</p>
                <div class="btn-container">
                    <a type="button" class="btn btn-outline-secondary btn-sm me-3">Bike descriptions</a>
                    <button type="button" class="btn btn-outline-secondary btn-sm">Add to cart</button>
                </div>
            </div>
            <span class="badge text-bg-warning">399 <span>€</span></span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img class="card-img-top" alt="..." src="https://rubik.chegiochi.it/GIO/420/683/0887961376838.jpg">
            <div class="card-body">
                <span class="fw-semibold">Model: Cycling Cap</span>
                <div class="d-inline">
                    <span class="ms-4 text-success stock-check d-none">Avaiable</span>
                    <span class="ms-4 text-danger stock-check ">Out of Stock</span>
                </div>
                <h5 class="pt-2"> Barbie Most Wanted Ultra</h5>
                <p class="card-text">All-occasion value bike with our basic comfort and safety features. Offers wider, more stable tires for a ride around town or weekend trip.</p>
                <div class="btn-container">
                    <a type="button" class="btn btn-outline-secondary btn-sm me-3">Bike descriptions</a>
                    <button type="button" class="btn btn-outline-secondary btn-sm">Add to cart</button>
                </div>
            </div>
            <span class="badge text-bg-warning">399 <span>€</span></span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img class="card-img-top" alt="..." src="https://rubik.chegiochi.it/GIO/420/683/0887961376838.jpg">
            <div class="card-body">
                <span class="fw-semibold">Model: Cycling Cap</span>
                <div class="d-inline">
                    <span class="ms-4 text-success stock-check d-none">Avaiable</span>
                    <span class="ms-4 text-danger stock-check ">Out of Stock</span>
                </div>
                <h5 class="pt-2"> Barbie Most Wanted Ultra</h5>
                <p class="card-text">All-occasion value bike with our basic comfort and safety features. Offers wider, more stable tires for a ride around town or weekend trip.</p>
                <div class="btn-container">
                    <a type="button" class="btn btn-outline-secondary btn-sm me-3">Bike descriptions</a>
                    <button type="button" class="btn btn-outline-secondary btn-sm">Add to cart</button>
                </div>
            </div>
            <span class="badge text-bg-warning">399 <span>€</span></span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img class="card-img-top" alt="..." src="https://rubik.chegiochi.it/GIO/420/683/0887961376838.jpg">
            <div class="card-body">
                <span class="fw-semibold">Model: Cycling Cap</span>
                <div class="d-inline">
                    <span class="ms-4 text-success stock-check d-none">Avaiable</span>
                    <span class="ms-4 text-danger stock-check ">Out of Stock</span>
                </div>
                <h5 class="pt-2"> Barbie Most Wanted Ultra</h5>
                <p class="card-text">All-occasion value bike with our basic comfort and safety features. Offers wider, more stable tires for a ride around town or weekend trip.</p>
                <div class="btn-container">
                    <a type="button" class="btn btn-outline-secondary btn-sm me-3">Bike descriptions</a>
                    <button type="button" class="btn btn-outline-secondary btn-sm">Add to cart</button>
                </div>
            </div>
            <span class="badge text-bg-warning">399 <span>€</span></span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img class="card-img-top" alt="..." src="https://rubik.chegiochi.it/GIO/420/683/0887961376838.jpg">
            <div class="card-body">
                <span class="fw-semibold">Model: Cycling Cap</span>
                <div class="d-inline">
                    <span class="ms-4 text-success stock-check d-none">Avaiable</span>
                    <span class="ms-4 text-danger stock-check ">Out of Stock</span>
                </div>
                <h5 class="pt-2"> Barbie Most Wanted Ultra</h5>
                <p class="card-text">All-occasion value bike with our basic comfort and safety features. Offers wider, more stable tires for a ride around town or weekend trip.</p>
                <div class="btn-container">
                    <a type="button" class="btn btn-outline-secondary btn-sm me-3">Bike descriptions</a>
                    <button type="button" class="btn btn-outline-secondary btn-sm">Add to cart</button>
                </div>
            </div>
            <span class="badge text-bg-warning">399 <span>€</span></span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card">
            <img class="card-img-top" alt="..." src="https://rubik.chegiochi.it/GIO/420/683/0887961376838.jpg">
            <div class="card-body">
                <span class="fw-semibold">Model: Cycling Cap</span>
                <div class="d-inline">
                    <span class="ms-4 text-success stock-check d-none">Avaiable</span>
                    <span class="ms-4 text-danger stock-check ">Out of Stock</span>
                </div>
                <h5 class="pt-2"> Barbie Most Wanted Ultra</h5>
                <p class="card-text">All-occasion value bike with our basic comfort and safety features. Offers wider, more stable tires for a ride around town or weekend trip.</p>
                <div class="btn-container">
                    <a type="button" class="btn btn-outline-secondary btn-sm me-3">Bike descriptions</a>
                    <button type="button" class="btn btn-outline-secondary btn-sm">Add to cart</button>
                </div>
            </div>
            <span class="badge text-bg-warning">399 <span>€</span></span>
        </div>
    </div>
</div>