#carousel{
    height: calc(100vh - 64px); // view Height - navbar's Height
        display: grid;
        justify-content: center;
        align-content: center;
        color: whitesmoke;
}
#carousel-box{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #Title{
        font-size: xx-large;
    }
    #subTitle{
        font-size: x-large;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #Title{
        font-size: x-large;
    }
    #subTitle{
        font-size: large;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    h1{
        font-size: large;
    }
    p{
        font-size: medium;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1{
        font-size: medium;
    }
    p{
        font-size: small;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1{
        font-size: small;
    }
    p{
        font-size: x-small;
    }
}