
<div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" id = "carousel-box" style="background-image:url(https://upload.wikimedia.org/wikipedia/commons/c/c9/Pista_Ciclabile_Renai-Cascine_-_Signa.JPG);">
        <div id = "carousel">
            <h1 id = "Title">Welcome to first Page</h1>
            <p id = "subTitle">This is the description of the page that we are gonna to fill out with some random bullshit</p>
        </div>
        </div>
        <div class="carousel-item active" id = "carousel-box" style="background-image:url(https://upload.wikimedia.org/wikipedia/commons/c/c9/Pista_Ciclabile_Renai-Cascine_-_Signa.JPG);">
        <div id = "carousel">
            <h1 id = "Title">Welcome to second Page</h1>
            <p id = "subTitle">This is the description of the page that we are gonna to fill out with some random bullshit</p>
        </div>
        </div>
        <div class="carousel-item active" id = "carousel-box" style="background-image:url(https://upload.wikimedia.org/wikipedia/commons/c/c9/Pista_Ciclabile_Renai-Cascine_-_Signa.JPG); ">
        <div id = "carousel" >
            <h1 id = "Title">Welcome to third Page</h1>
            <p id = "subTitle">This is the description of the page that we are gonna to fill out with some random bullshit</p>
        </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
